.article {
    color: aliceblue
}
.menu {
    text-align: center;
    width : 100%;
    display: flex;
}

.eltmenu {
    color: white;
    width: 25%;
}

.image {
    width: 60%;
}
.drone {
    width: 50%;
    margin: 0;
    padding: 0;
}
.article {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
} 
.regle {
    display: flex;
    flex-wrap: wrap;
}